header {
  max-width: 80rem;
  width: 100%;
  padding: 4rem 10rem;
  margin-inline: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & img {
    color: var(--text-body);
  }

  & button {
    width: 5.6rem;
    height: 2.5rem;
    font: var(--text-button);
    color: var(--text-title);
    background-color: var(--pink-dark);

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
  }
}